<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- Main launcher activity -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication activities -->
        <activity
            android:name=".Login"
            android:theme="@style/Theme.MyApplication" />

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.MyApplication" />

        <!-- Main app activities -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MyApplication" />

        <!-- ✅ NEW: Favorite Activity -->
        <activity
            android:name=".FavoriteActivity"
            android:theme="@style/Theme.MyApplication"
            android:label="My Favorites"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <!-- Workout detail activities -->
        <activity
            android:name=".UniversalWorkoutDetailsActivity"
            android:theme="@style/Theme.MyApplication"
            android:label="Workout Details"
            android:parentActivityName=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".PushupDetailsActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".TwistDetailsActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".RunningDetailsActivity"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".PlankDetailsActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Other activities -->
        <activity
            android:name=".WorkoutListActivity"
            android:parentActivityName=".MainActivity" />

        <activity android:name=".ProfileActivity" />

        <activity
            android:name=".StartWorkoutActivity"
            android:theme="@style/Theme.MyApplication"
            android:label="Start Workout"
            android:parentActivityName=".UniversalWorkoutDetailsActivity"
            android:exported="false" />

        <!-- Admin system activities -->
        <activity
            android:name=".AdminActivity"
            android:theme="@style/Theme.MyApplication"
            android:label="Admin Panel"
            android:parentActivityName=".Login" />

        <!-- Admin Workout Management Activities -->
        <activity
            android:name=".AdminWorkoutActivity"
            android:theme="@style/Theme.MyApplication"
            android:label="Workout Management"
            android:parentActivityName=".AdminActivity"
            android:exported="false" />

        <activity
            android:name=".AddWorkoutActivity"
            android:theme="@style/Theme.MyApplication"
            android:label="Add New Workout"
            android:parentActivityName=".AdminWorkoutActivity"
            android:exported="false" />

    </application>

</manifest>